.register{
    .loginText{
        color: #969899;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 5.5rem;
    }
    .loginButton{
        background-color: transparent;
        color: #7d48fa;
        font-size: 1.7rem;
        margin-top: 5rem;
        border: 1px solid;
    }
    .tip{
        color: #969899;
        font-size: 1.4rem;
        margin-top: 6.0rem;
        text-align: center;
    }
}