.paymentSuccess{
    background-color:#25bf78;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 45px 0;
    div{
       margin: auto;
       svg{
           vertical-align: middle;
       } 
    }
}
ion-label{
    color: rgb(153, 153, 153)
}