
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484194114646'); /* IE9*/
  src: url('iconfont.eot?t=1484194114646#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484194114646') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484194114646') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484194114646#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before { content: "\e601"; }

.icon-envelop:before { content: "\e602"; }

.icon-me:before { content: "\e603"; }

.icon-client:before { content: "\e604"; }

.icon-tel:before { content: "\e605"; }

.icon-wechat:before { content: "\e606"; }

.icon-building:before { content: "\e607"; }

.icon-location:before { content: "\e608"; }

.icon-america:before { content: "\e609"; }

.icon-alipay:before { content: "\e60a"; }

.icon-del:before { content: "\e60b"; }

.icon-checked:before { content: "\e60c"; }

.icon-card:before { content: "\e60f"; }

.icon-open:before { content: "\e610"; }

.icon-minus:before { content: "\e611"; }

.icon-plus:before { content: "\e612"; }

.icon-files:before { content: "\e613"; }

.icon-notes:before { content: "\e614"; }

.icon-checked-bold:before { content: "\e615"; }

.icon-edit:before { content: "\e616"; }

.icon-drop:before { content: "\e617"; }

.icon-down-arrow:before { content: "\e618"; }

.icon-plus-thin:before { content: "\e619"; }

.icon-cross:before { content: "\e61a"; }

.icon-wepay:before { content: "\e621"; }

.icon-alipay-square:before { content: "\e622"; }

.icon-right-arrow:before { content: "\e624"; }

.icon-new:before { content: "\e625"; }

.icon-cart:before { content: "\e626"; }

.icon-throwToCart:before { content: "\e627"; }

.icon-arrow-right-thin:before { content: "\e62a"; }

.icon-location1:before { content: "\e62b"; }

.icon-download:before { content: "\e62c"; }

