.retrivePassword {
    background-color: #f7f7f7;
    .panel {
        height: 6rem;
        padding: auto 1.5rem;
        border: $border-style;
        display: flex;
        background-color: white;
        margin: 5rem 1rem 0rem 1rem;
        border-radius: 1rem;
        input {
            border: 0;
            width: 80%;
            font-size: 2rem;
        }
        svg {
            font-size: 2rem;
            margin-top: 1rem;
            margin-left: 1rem;
            color: #939699;
        }
    }
    .tip {
        color: #969899;
        font-size: 1.4rem;
        margin-top: 6.0rem;
        text-align: center;
    }
}