.buyerHome {
    background-color: #eee;
    .product_card {
        width: calc(100% - 10px);
        margin: 5px 5px 5px 5px;
    }
    .product_card :first-child {
        margin-top: 0px;
    }
    .desc {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 15em;
        white-space: nowrap;
        font-size: 1rem;
    }
    .search {
        margin-bottom: 0.2rem;
    }
    .title {
        font-size: 1.6rem;
        margin-top: 0.5rem;
    }
    .category_nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        .category {
            background-color: #eee;
            border-top: 1px solid #eee;
            a {
                color: #e4393c;
                text-decoration: none;
                position: relative;
                display: block;
                padding: 10px 15px;
            }
        }
        .other {
            border-top: 1px solid #eee;
            background-color: white;
            a {
                color: #222;
                text-decoration: none;
                position: relative;
                padding: 10px 15px;
                display: block;
            }
        }
    }
}

$height:4rem;
.footer {
    border-width: 1px 0;
    box-shadow: 0 -1px 8px rgba(0, 1, 1, .08);
    height: $height;
    background-color: white;
    width: 100%;
    color: #666;
    .summary {
        line-height: $height;
        height: $height;
        float: left;
        width: 35%;
        text-align: center;
        font-size: 1.5rem;
    }
    .totalAmount {
        line-height: $height;
        height: $height;
        float: left;
        width: 35%;
        text-align: center;
        font-size: 1.5rem;
    }
    .purchase {
        float: right;
        line-height: $height;
        height: $height;
        background: #e54346;
        overflow: hidden;
        width: 29%;
        font-size: 1.6rem;
        font-family: "Microsoft YaHei";
        color: white;
        text-align: center;
    }
}